@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8faff;
}
.custome-ani {
  animation: slide 0.5s 1;
}
@keyframes slide {
  0% {
    right: -85%;
  }
  100% {
    right: 0%;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
